body {
    margin: 0px; 
    padding: 0px; 
    font-size: 18px;
}
header {
    display: flex; 
    justify-content: space-around;
    color: white;
    background-color: #3F33FF;
}
header a {
    padding: 30px 0;
    color: white;
    text-decoration: none;
}
.hero-img {
    background-image: linear-gradient(to right, rgba(0,0,0,.3) 10%, rgba(0,0,0,.3) 10%), url("pexels-pixabay-270348.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: right; 
    height: 770px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white; 
}
.hero-img div {
    margin: 30px; 
    text-align: right;
}
